<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>

	<title>GUARDEN | Plant is not found!</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,900" rel="stylesheet">

	<link type="text/css" rel="stylesheet" href="{% static 'notavi.css' %}" />


</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<h2>We are sorry, Plant is not found!</h2>
			<p>Please inform us to update {{plst}} plant in our database.</p>
			<a href="/">Back To Homepage</a>
		</div>
	</div>

</body>

</html>
